.head, .form-field{
  text-align: center;
}

.todoSingle {
  background-color: aqua;
  border-radius: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px ;
  margin: 5px auto;
  width: 50%;

}

